{% extends 'layout.html' %}

{% block title %}Site personnel{% endblock %}

{% block content %}

<div class="hero-unit">
	<p class="pull-right">
 		<strong>Aurélien Bertron</strong><br/>
 		19 ans<br/>
 		Étudiant en Informatique<br/>
 		Région toulousaine
	</p>
 	<h1>L'informatique, <small>un travail et une passion</small></h1>
</div>

<div class="row ancre" id="presentation">
	<div class="span5">
		<h1>Qui suis-je ?</h1>
		<p>
			Montrez à un enfant de 10 ans comment faire une page web, et c'est toute sa vision de l'informatique qui est perturbée. Autrefois difficile et lointaine, la voilà qui débarque sur son propre ordinateur.<br/>
			Oui, l'informatique est accessible à tous, il suffit d'un peu de patience et de motivation pour arriver à en comprendre le fonctionnement. Ce qui caractérise un bon informaticien, c'est avant tout la curiosité, et le goût de la découverte.<br/>
			Ce que je découvre au fur et à mesure de mes études, c'est que l'informatique est si vaste, que lorsqu'on la regarde, on se sent comme pieds-nus sur une plage de la côte bretonne. Mais il n'appartient qu'à nous de faire notre chemin, pour découvrir ce qui, au fond, nous tient le plus à cœur.			
		</p>
	</div>
	<div class="span6 offset1">
		<h1>Formation</h1>
		<ul>
			<li><strong>2013</strong> DUT Informatique - IUT de Blagnac(31)</li>
			<li><strong>2011</strong> Baccalauréat Scientifique Spé Maths - Lycée P. d'Aragon, Muret(31)</li>
		</ul>
		<h1>Compétences techniques</h1>
		<ul>
			<li><strong>Langages</strong> C/C++, Java, PHP, Ruby, Shell, Perl</li>
			<li><strong>EDI</strong> Eclipse, Code::Blocks</li>
			<li><strong>Base de données</strong> Oracle, SQL, PL-SQL</li>
			<li><strong>Conception</strong> UML, Merise, MACAO</li>
		</ul>
	</div>
</div>

<div class="row">
<div class="span6">
	<h1>Expériences personnelles</h1>
	<div id="persoCarousel" class="carousel slide">
	<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item">
				<img src="{{ images() }}/beaumlesmomes.png" alt="Beaum les mômes"/>
				<div class="carousel-caption">
					<h4>Beaum les mômes</h4>
					<p>Site d'une association d'assistantes maternelles, relation avec le client, codage complet et design.<br/>
					<a href="beaumlesmomes.fr">En savoir plus...</a>
					</p>
				</div>
			</div>
			<div class="item">
				<img src="{{ images() }}/bataillenavale.png" alt="Bataille-Navale" />
				<div class="carousel-caption">
					<h4>Bataille-Navale</h4>
					<p>Projet de création de jeu, langage C, bibliothèque SDL, travail en binôme.<br/>
					<a href="http://aurelienbertron.fr/Bataille-Navale/">En savoir plus...</a>
					</p>
				</div>
			</div>
			<div class="item">
				<img src="{{ images() }}/dev.png" alt="Perso-Framework" />
				<div class="carousel-caption">
					<h4>Perso-Framework</h4>
					<p>Développement d'un framework PHP personnalisé, modèle MVC, moteur de templates Twig.<br/>
					<a href="https://github.com/Darknautilus/PersoFramework">En savoir plus...</a>
					</p>
				</div>
			</div>
		</div>
	<!-- Carousel nav -->
		<a class="carousel-control left" href="#persoCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#persoCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>
<div class="span6">
		<h1>Expériences professionnelles</h1>
		<ul>
			<li>
				<p><strong>Juillet 2012</strong> Stage à La Dépêche du Midi<br/>
				Service support, installation et réparation de postes, découverte du fonctionnement d'une grande entreprise.
				</p>
			</li>
		</ul>
	</div>
</div>

<hr/>

<div class="row ancre" id="blog">
<div class="span4">
	<h1>Blog</h1>
	<p>À venir...</p>
</div>
</div>

{% endblock %}